@font-face {
    font-family: 'BMJUA';
    src: url('../font/BMJUA_ttf.ttf') format('truetype');
}
@font-face {
    font-family: 'SCore_Me';
    src: url('../font/S-Core_Dream_OTF/SCDream5.otf') format('opentype');
}
@font-face {
    font-family: 'SCore_Bold';
    src: url('../font/S-Core_Dream_OTF/SCDream7.otf') format('opentype');
}
@font-face {
    font-family: 'Noto_Sans_Re';
    src: url('../font/Noto_Sans_KR/NotoSansKR-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Noto_Sans_Me';
    src: url('../font/Noto_Sans_KR/NotoSansKR-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'Noto_Sans_Bold';
    src: url('../font/Noto_Sans_KR/NotoSansKR-Bold.otf') format('opentype');
}